In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import os

import march_madness as mm
import random

In [2]:
def get_win_location_weight(loc):
    if loc == 'H':
        return 0.6
    elif loc == 'A':
        return 1.4
    else:
        return 1

def get_loss_location_weight(loc):
    if loc == 'A':
        return 1.4
    elif loc == 'H':
        return 0.6
    else:
        return 1

In [3]:
analysis = mm.Analysis()

In [4]:
analysis.load_season(2019)

In [5]:
analysis.calc_seasons_features()

2019

In [6]:
season = analysis.seasons[2019]

In [7]:
season.tourney_seeds

        Season Seed  Numerical Seed
TeamID
1181      2019  W01               1
1277      2019  W02               2
1261      2019  W03               3
1439      2019  W04               4
1280      2019  W05               5
...        ...  ...             ...
1332      2019  Z12              12
1414      2019  Z13              13
1330      2019  Z14              14
1159      2019  Z15              15
1205      2019  Z16              16

[68 rows x 3 columns]

In [8]:
team = season.teams[1261]

In [9]:
team.win_data

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
82074,2019,1,1261,94,1368,63,H,0,32,66,...,23,12,19,12,20,8,20,4,1,21
82184,2019,4,1261,97,1422,91,H,0,30,54,...,33,4,9,2,16,21,14,7,5,26
82360,2019,8,1261,85,1272,76,H,0,34,63,...,30,14,20,14,18,12,14,5,3,17
82475,2019,11,1261,74,1256,67,H,0,29,64,...,28,8,13,16,26,8,17,6,3,19
82791,2019,17,1261,67,1158,55,N,0,27,52,...,24,14,22,12,23,8,11,6,1,14
83181,2019,26,1261,78,1212,57,H,0,27,59,...,7,12,17,5,19,7,18,5,5,21
83499,2019,34,1261,91,1230,50,H,0,34,61,...,14,17,23,4,16,7,17,9,0,19
83605,2019,40,1261,78,1388,74,N,0,25,56,...,17,18,25,10,26,9,19,7,1,22
83844,2019,46,1261,75,1202,57,H,0,31,56,...,31,6,9,8,14,8,17,10,2,16
83994,2019,53,1261,81,1419,69,H,0,32,61,...,24,14,16,13,21,9,17,6,3,14
84439,2019,64,1261,88,1104,79,H,0,28,57,...,24,22,26,16,20,14,15,6,2,20
84638,2019,68,1261,94,1116,88,A,0,33,64,...,16,17,28,11,20,21,16,9,5,24
84763,2019,71,1261,83,1279,69,A,0,27,57,...,28,9,17,15,27,14,16,8,3,23
84951,2019,75,1261,89,1376,67,H,0,27,64,...,19,6,14,6,23,7,16,6,1,24
85125,2019,79,1261,92,1208,82,H,0,33,66,...,17,14,18,8,23,13,17,5,1,22
85290,2019,82,1261,86,1281,80,A,0,24,68,...,24,26,33,9,34,7,17,6,2,29
85454,2019,86,1261,72,1401,57,A,0,26,70,...,21,18,23,14,25,6,16,4,4,16
85768,2019,93,1261,92,1280,88,A,0,35,64,...,23,16,24,10,20,16,18,11,6,23
85936,2019,96,1261,83,1120,78,H,0,28,73,...,38,8,13,7,28,13,19,7,4,23
86061,2019,99,1261,73,1246,71,A,0,24,56,...,19,16,23,15,24,14,9,3,1,17
86261,2019,103,1261,83,1208,79,A,0,30,54,...,16,18,25,14,16,10,11,5,3,19
86568,2019,110,1261,82,1397,80,H,0,25,65,...,22,12,16,13,30,10,14,4,3,22
86698,2019,113,1261,66,1401,55,H,0,23,66,...,22,13,18,12,29,6,12,5,7,16
86905,2019,117,1261,74,1104,69,A,0,28,66,...,26,13,23,12,28,11,13,1,3,20
87066,2019,121,1261,79,1196,78,A,0,31,72,...,25,17,25,11,25,10,11,9,5,16
87211,2019,124,1261,80,1435,59,H,0,30,59,...,21,8,16,9,17,7,10,5,3,13

In [10]:
team.loss_data

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
82812,2019,18,1199,79,1261,76,N,0,29,76,...,26,11,13,4,26,16,18,6,7,20
82956,2019,20,1329,90,1261,77,N,0,31,53,...,27,12,20,18,18,15,16,11,3,17
83544,2019,37,1222,82,1261,76,H,0,26,62,...,26,29,38,12,23,10,16,9,4,27
85552,2019,89,1116,90,1261,89,A,0,35,60,...,24,32,38,19,25,11,21,8,3,18
86404,2019,107,1196,82,1261,77,A,0,30,65,...,22,16,25,18,20,9,14,6,3,16
87437,2019,130,1196,76,1261,73,N,0,26,56,...,19,7,11,13,28,13,13,6,2,24

In [11]:
team.win_data.shape

(26, 34)

In [12]:
for df in (team.win_data,team.loss_data):
    for t in ('W','L'):
        df[f'{t}TR'] = df[f'{t}OR'] + df[f'{t}DR']
        df[f'{t}FGM2'] = df[f'{t}FGM'] - df[f'{t}FGM3']
        df[f'{t}FGA2'] = df[f'{t}FGA'] - df[f'{t}FGA3']
        df[f'{t}FG%'] = df[f'{t}FGM'] / df[f'{t}FGA']
        df[f'{t}FG2%'] = df[f'{t}FGM2'] / df[f'{t}FGA2']
        df[f'{t}FG3%'] = df[f'{t}FGM3'] / df[f'{t}FGA3']
        df[f'{t}FGA3%'] = df[f'{t}FGA3'] / df[f'{t}FGA']
        df[f'{t}FT%'] = df[f'{t}FTM'] / df[f'{t}FTA']
        df[f'{t}Pos'] = (0.96 * df[f'{t}FGA']) - df[f'{t}OR'] + df[f'{t}TO'] + (0.44 * df[f'{t}FTA'])
        df[f'{t}FT%'] = df[f'{t}FTM'] / df[f'{t}FTA']
        df[f'{t}OEff'] = df[f'{t}Score'] / df[f'{t}Pos']

<ipython-input-12-38b9b9bbfd1e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}TR'] = df[f'{t}OR'] + df[f'{t}DR']
<ipython-input-12-38b9b9bbfd1e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}FGM2'] = df[f'{t}FGM'] - df[f'{t}FGM3']
<ipython-input-12-38b9b9bbfd1e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}FGA2'] = df[f'{t}FGA'] - df[f'{t}FGA3']
<ipython-input-12-38b9b9bbfd1e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}FG%'] = df[f'{t}FGM'] / df[f'{t}FGA']
<ipython-input-12-38b9b9bbfd1e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}FG2%'] = df[f'{t}FGM2'] / df[f'{t}FGA2']
<ipython-input-12-38b9b9bbfd1e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}FG3%'] = df[f'{t}FGM3'] / df[f'{t}FGA3']
<ipython-input-12-38b9b9bbfd1e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}FGA3%'] = df[f'{t}FGA3'] / df[f'{t}FGA']
<ipython-input-12-38b9b9bbfd1e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}FT%'] = df[f'{t}FTM'] / df[f'{t}FTA']
<ipython-input-12-38b9b9bbfd1e>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}Pos'] = (0.96 * df[f'{t}FGA']) - df[f'{t}OR'] + df[f'{t}TO'] + (0.44 * df[f'{t}FTA'])
<ipython-input-12-38b9b9bbfd1e>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}FT%'] = df[f'{t}FTM'] / df[f'{t}FTA']
<ipython-input-12-38b9b9bbfd1e>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{t}OEff'] = df[f'{t}Score'] / df[f'{t}Pos']

In [13]:
metric_keys = ['FGM','FGA','FGM3','FGA3','FTM','FTA','OR','DR','Ast','TO','Stl','Blk','PF',
               'TR','FGM2','FGA2','FG%','FG2%','FG3%','FGA3%','FT%','Pos','OEff']

In [14]:
team.features.keys()

dict_keys(['win pct', 'weighted win pct', 'owp', 'oowp', 'avg win margin', 'std win margin', 'avg loss margin', 'std loss margin', 'capped avg win margin', 'capped std win margin', 'capped avg loss margin', 'capped std loss margin', 'close wins', 'close losses', 'tourney seed', 'weighted top64 wins', 'weighted top32 wins', 'weighted top16 wins', 'weighted top8 wins', 'weighted top64 losses', 'weighted top32 losses', 'weighted top16 losses', 'weighted top8 losses', 'last10 win pct', 'last10 weighted win pct', 'last5 win pct', 'last5 weighted win pct', 'conference tourney wins', 'conference champ'])

In [15]:
for metric in metric_keys:
    team_win_values = team.win_data[f'W{metric}'].values
    team_loss_values = team.loss_data[f'L{metric}'].values
    
    team_values = np.concatenate((team_win_values,team_loss_values))
    team_avg = team_values.mean()
    
    team.features[f'Team Avg {metric}'] = round(team_avg,4)
    
for metric in metric_keys:
    team_win_values = team.win_data[f'L{metric}'].values
    team_loss_values = team.loss_data[f'W{metric}'].values
    
    team_values = np.concatenate((team_win_values,team_loss_values))
    team_avg = team_values.mean()
    
    team.features[f'Opp Avg {metric}'] = round(team_avg,4)

In [16]:
team.features.keys()

dict_keys(['win pct', 'weighted win pct', 'owp', 'oowp', 'avg win margin', 'std win margin', 'avg loss margin', 'std loss margin', 'capped avg win margin', 'capped std win margin', 'capped avg loss margin', 'capped std loss margin', 'close wins', 'close losses', 'tourney seed', 'weighted top64 wins', 'weighted top32 wins', 'weighted top16 wins', 'weighted top8 wins', 'weighted top64 losses', 'weighted top32 losses', 'weighted top16 losses', 'weighted top8 losses', 'last10 win pct', 'last10 weighted win pct', 'last5 win pct', 'last5 weighted win pct', 'conference tourney wins', 'conference champ', 'Team Avg FGM', 'Team Avg FGA', 'Team Avg FGM3', 'Team Avg FGA3', 'Team Avg FTM', 'Team Avg FTA', 'Team Avg OR', 'Team Avg DR', 'Team Avg Ast', 'Team Avg TO', 'Team Avg Stl', 'Team Avg Blk', 'Team Avg PF', 'Team Avg TR', 'Team Avg FGM2', 'Team Avg FGA2', 'Team Avg FG%', 'Team Avg FG2%', 'Team Avg FG3%', 'Team Avg FGA3%', 'Team Avg FT%', 'Team Avg Pos', 'Team Avg OEff', 'Opp Avg FGM', 'Opp Avg FGA', 'Opp Avg FGM3', 'Opp Avg FGA3', 'Opp Avg FTM', 'Opp Avg FTA', 'Opp Avg OR', 'Opp Avg DR', 'Opp Avg Ast', 'Opp Avg TO', 'Opp Avg Stl', 'Opp Avg Blk', 'Opp Avg PF', 'Opp Avg TR', 'Opp Avg FGM2', 'Opp Avg FGA2', 'Opp Avg FG%', 'Opp Avg FG2%', 'Opp Avg FG3%', 'Opp Avg FGA3%', 'Opp Avg FT%', 'Opp Avg Pos', 'Opp Avg OEff'])

In [17]:
season_data = pd.concat([team.win_data,team.loss_data]).sort_values('DayNum')

In [18]:
last10_data = season_data[-10:]
last10_data

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LTR,LFGM2,LFGA2,LFG%,LFG2%,LFG3%,LFGA3%,LFT%,LPos,LOEff
85936,2019,96,1261,83,1120,78,H,0,28,73,...,35,11,18,0.482143,0.611111,0.421053,0.678571,0.615385,71.48,1.091214
86061,2019,99,1261,73,1246,71,A,0,24,56,...,39,20,41,0.416667,0.487805,0.263158,0.316667,0.695652,61.72,1.150356
86261,2019,103,1261,83,1208,79,A,0,30,54,...,30,20,41,0.473684,0.487805,0.437500,0.280702,0.720000,62.72,1.259566
86404,2019,107,1196,82,1261,77,A,0,30,65,...,38,20,41,0.428571,0.487805,0.318182,0.349206,0.640000,67.48,1.141079
86568,2019,110,1261,82,1397,80,H,0,25,65,...,43,22,45,0.447761,0.488889,0.363636,0.328358,0.750000,72.36,1.105583
86698,2019,113,1261,66,1401,55,H,0,23,66,...,41,15,38,0.316667,0.394737,0.181818,0.366667,0.722222,65.52,0.839438
86905,2019,117,1261,74,1104,69,A,0,28,66,...,40,16,38,0.375000,0.421053,0.307692,0.406250,0.565217,72.56,0.950937
87066,2019,121,1261,79,1196,78,A,0,31,72,...,36,17,33,0.448276,0.515152,0.360000,0.431034,0.680000,66.68,1.169766
87211,2019,124,1261,80,1435,59,H,0,30,59,...,26,12,30,0.411765,0.400000,0.428571,0.411765,0.500000,57.00,1.035088
87437,2019,130,1196,76,1261,73,N,0,26,56,...,41,24,44,0.476190,0.545455,0.315789,0.301587,0.636364,65.32,1.117575

In [19]:
last10_win_count = 0
last10_weighted_win_count = 0
last10_weighted_loss_count = 0

for i in last10_data.index:
    game = last10_data.loc[i]
    
    winner_id = game['WTeamID']
    winner_loc = game['WLoc']
    
    if winner_id == team.id:
        last10_win_count += 1
        last10_weighted_win_count += get_win_location_weight(winner_loc)
    else:
        last10_weighted_loss_count += get_loss_location_weight(winner_loc)
        
last10_win_pct = last10_win_count / last10_data.shape[0]
last10_weighted_win_pct = round(last10_weighted_win_count / (last10_weighted_win_count + last10_weighted_loss_count),3)

In [20]:
last10_win_pct

0.8

In [21]:
last10_weighted_win_pct

0.769

In [22]:
last5_data = season_data[-5:]
last5_data

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LTR,LFGM2,LFGA2,LFG%,LFG2%,LFG3%,LFGA3%,LFT%,LPos,LOEff
86698,2019,113,1261,66,1401,55,H,0,23,66,...,41,15,38,0.316667,0.394737,0.181818,0.366667,0.722222,65.52,0.839438
86905,2019,117,1261,74,1104,69,A,0,28,66,...,40,16,38,0.375000,0.421053,0.307692,0.406250,0.565217,72.56,0.950937
87066,2019,121,1261,79,1196,78,A,0,31,72,...,36,17,33,0.448276,0.515152,0.360000,0.431034,0.680000,66.68,1.169766
87211,2019,124,1261,80,1435,59,H,0,30,59,...,26,12,30,0.411765,0.400000,0.428571,0.411765,0.500000,57.00,1.035088
87437,2019,130,1196,76,1261,73,N,0,26,56,...,41,24,44,0.476190,0.545455,0.315789,0.301587,0.636364,65.32,1.117575

In [23]:
last5_win_count = 0
last5_weighted_win_count = 0
last5_weighted_loss_count = 0

for i in last5_data.index:
    game = last5_data.loc[i]
    
    winner_id = game['WTeamID']
    winner_loc = game['WLoc']
    
    if winner_id == team.id:
        last5_win_count += 1
        last5_weighted_win_count += get_win_location_weight(winner_loc)
    else:
        last5_weighted_loss_count += get_loss_location_weight(winner_loc)
        
last5_win_pct = last5_win_count / last5_data.shape[0]
last5_weighted_win_pct = round(last5_weighted_win_count / (last5_weighted_win_count + last5_weighted_loss_count),3)

In [24]:
last5_win_pct

0.8

In [25]:
last5_weighted_win_pct

0.8

In [26]:
team.id

1261

In [27]:
last10_data

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LTR,LFGM2,LFGA2,LFG%,LFG2%,LFG3%,LFGA3%,LFT%,LPos,LOEff
85936,2019,96,1261,83,1120,78,H,0,28,73,...,35,11,18,0.482143,0.611111,0.421053,0.678571,0.615385,71.48,1.091214
86061,2019,99,1261,73,1246,71,A,0,24,56,...,39,20,41,0.416667,0.487805,0.263158,0.316667,0.695652,61.72,1.150356
86261,2019,103,1261,83,1208,79,A,0,30,54,...,30,20,41,0.473684,0.487805,0.437500,0.280702,0.720000,62.72,1.259566
86404,2019,107,1196,82,1261,77,A,0,30,65,...,38,20,41,0.428571,0.487805,0.318182,0.349206,0.640000,67.48,1.141079
86568,2019,110,1261,82,1397,80,H,0,25,65,...,43,22,45,0.447761,0.488889,0.363636,0.328358,0.750000,72.36,1.105583
86698,2019,113,1261,66,1401,55,H,0,23,66,...,41,15,38,0.316667,0.394737,0.181818,0.366667,0.722222,65.52,0.839438
86905,2019,117,1261,74,1104,69,A,0,28,66,...,40,16,38,0.375000,0.421053,0.307692,0.406250,0.565217,72.56,0.950937
87066,2019,121,1261,79,1196,78,A,0,31,72,...,36,17,33,0.448276,0.515152,0.360000,0.431034,0.680000,66.68,1.169766
87211,2019,124,1261,80,1435,59,H,0,30,59,...,26,12,30,0.411765,0.400000,0.428571,0.411765,0.500000,57.00,1.035088
87437,2019,130,1196,76,1261,73,N,0,26,56,...,41,24,44,0.476190,0.545455,0.315789,0.301587,0.636364,65.32,1.117575

In [28]:
conf_tourney_wins = 0

for i in last10_data.index[::-1]:
    game = last10_data.loc[i]
    
    loc = game['WLoc']
    
    if loc != 'N':
        break
    else:
        if game['WTeamID'] == team.id:
            conf_tourney_wins += 1

In [29]:
conf_tourney_wins

0

In [30]:
last_game_index = last5_data.index[-1]

In [31]:
last_game_index

87437

In [32]:
last_game = last5_data.loc[last_game_index]

In [33]:
if last_game['WTeamID'] == team.id:
    conf_champ = 1
else:
    conf_champ = 0

In [34]:
conf_champ

0