In [22]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import os

import march_madness as mm
import random

In [2]:
def parse_seed(seed_string):
    seed_num = ''
    for letter in seed_string:
        if letter.isdigit():
            seed_num += letter

    seed_int = int(seed_num)
    return seed_int

In [3]:
analysis = mm.Analysis()

In [4]:
analysis.load_season(2019)

In [5]:
season = analysis.seasons[2019]

In [6]:
season.add_teams()

In [7]:
season.assign_tourney_seeds()

In [8]:
feature_keys = ['tourney seed']

In [9]:
season.tourney_results

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
2184    2019     134     1125      81     1396      70    N      0
2185    2019     134     1192      82     1341      76    N      0
2186    2019     135     1113      74     1385      65    N      0
2187    2019     135     1295      78     1300      74    N      0
2188    2019     136     1120      78     1308      77    N      0
...      ...     ...      ...     ...      ...     ...  ...    ...
2246    2019     146     1120      77     1246      71    N      1
2247    2019     146     1277      68     1181      67    N      0
2248    2019     152     1403      61     1277      51    N      0
2249    2019     152     1438      63     1120      62    N      0
2250    2019     154     1438      85     1403      77    N      1

[67 rows x 8 columns]

In [10]:
model_data = []
game_results = []

for index in season.tourney_results.index:
    game = season.tourney_results.loc[index]
    
    winner_id = game['WTeamID']
    loser_id = game['LTeamID']
    
    if winner_id < loser_id:
        team1_id = winner_id
        team2_id = loser_id
        team1_win = 1
    else:
        team1_id = loser_id
        team2_id = winner_id
        team1_win = 0
        
    team1 = season.teams[team1_id]
    team2 = season.teams[team2_id]
        
    team1_features = []
    team2_features = []
    for key in feature_keys:
        team1_features.append(team1.features[key])
        team2_features.append(team2.features[key])
        
    game_features = team1_features + team2_features
    
    model_data.append(game_features)
    game_results.append(team1_win)

In [11]:
team1_data_names = []
team2_data_names = []
for key in feature_keys:
    team1_data_names.append(f'team1 - {key}')
    team2_data_names.append(f'team2 - {key}')
    
data_names = team1_data_names + team2_data_names

In [12]:
model_data = pd.DataFrame(model_data,columns=data_names)

In [13]:
game_results = np.array(game_results)

In [14]:
model_data.shape

(67, 2)

In [15]:
game_results.shape

(67,)

In [17]:
X,y = season.generate_tourney_model_data(feature_keys=['tourney seed'])

In [18]:
X.shape

(67, 2)

In [19]:
y.shape

(67,)

In [21]:
X

    team1 - tourney seed  team2 - tourney seed
0                     11                    11
1                     16                    16
2                     11                    11
3                     16                    16
4                      5                    12
..                   ...                   ...
62                     5                     2
63                     1                     2
64                     2                     3
65                     5                     1
66                     3                     1

[67 rows x 2 columns]